name: Deploy to Surge

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Instalar Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar Surge
        run: npm install --global surge

      - name: Deploy a Surge
        run: surge ./ --domain Jana-Parcial-01.surge.sh
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
